$primaryColor: #08d;

@mixin button {
  border-radius: 8px;
  border-radius: 0.2rem;
  padding: 0.6rem 1rem;
  border: 0;
  cursor: pointer;
  margin-top: 38px;
  width: 100%;
}

.primary-button {
  color: #eee;

  background-color: $primaryColor;
  @include button;
}

.border-button {
  @include button;
  background-color: inherit;
  color: $primaryColor;
  outline: 1px solid;
}

.disable-button {
  cursor: default !important;
  opacity: 0.6;
}
