<template>
  <div class="wizard-container">
    <wizard :is-valid="formIsValid">
      <template #title="{ activeTabIndex }">
        <h3>Register Form - {{ stepsConfig[activeTabIndex]?.title }}</h3>
      </template>

      <template v-slot="{ activeTabIndex }">
        <component
          :is="stepsConfig[activeTabIndex]?.component"
          :form="form"
          @updateForm="updateForm"
        />
      </template>
    </wizard>
  </div>
</template>

<script>
import Wizard from "@/components/Wizard.vue";
import UsernameField from "@/components/UsernameField.vue";
import EmailField from "@/components/EmailField.vue";
import Review from "@/components/Review.vue";
import TextField from "@/components/TextField.vue";
import { ref } from "vue";

export default {
  components: {
    Wizard,
    TextField,
    EmailField,
    UsernameField,
    Review,
  },

  setup() {
    const form = ref({
      username: "",
      email: "",
    });

    const formIsValid = ref(true);

    const stepsConfig = [
      {
        component: "username-field",
        title: "Username",
      },
      {
        component: "email-field",
        title: "Email",
      },
      {
        component: "review",
        title: "Review",
      },
    ];

    const updateForm = (newForm) => (form.value = newForm);
    const updateValidation = (valid) => (formIsValid.value = valid);

    return {
      updateValidation,
      stepsConfig,
      updateForm,
      formIsValid,
      form,
    };
  },
};
</script>

<style lang="scss">
.wizard-container {
  margin: auto;
}
</style>
