<template>
  <div>
    <TextField v-model="inputModel" v-bind="{ ...fieldConfig }" />
    <p v-if="errors.length" class="error">{{ errors[errors.length - 1] }}</p>
  </div>
</template>

<script>
import TextField from "./TextField.vue";
import { computed, ref, watch } from "vue";
export default {
  components: {
    TextField,
  },
  props: {
    form: {
      type: Object,
    },
  },
  emit: ["updateForm", "updateValidation"],
  setup(props, { emit }) {
    const errors = ref([]);
    const inputModel = computed({
      get() {
        return props.form.email;
      },
      set(newValue) {
        if (!newValue) errors.value.push("Email required.");
        else if (!validEmail(newValue))
          errors.value.push("Valid email required.");
        else errors.value = [];
        emit("updateForm", { ...props.form, email: newValue });
      },
    });

    watch(
      () => errors.value,
      (newValue) => {
        console.log("err", newValue);
        emit("updateValidation", !!newValue);
      },
      { immediate: true }
    );

    const fieldConfig = {
      title: "email",
      name: "email",
      label: "email",
      inputId: "email",
    };

    return { inputModel, fieldConfig, errors };
  },
};
</script>

<style lang="scss" scoped>
.error {
  font-size: 12px;
  margin-top: 8px;
  color: red;
}
</style>
