<template>
  <div class="review">
    <div class="review__part">
      <h4>username :</h4>
      <p>{{ form.username }}</p>
    </div>
    <div class="review__part">
      <h4>email :</h4>
      <p>{{ form.email }}</p>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
    },
  },

  setup(props) {},
};
</script>

<style lang="scss" scoped>
.review {
  &__part {
    display: flex;
    align-items: center;
    gap: 8px;

    h4 {
      color: white;
    }
  }
}
</style>
