<template>
  <div class="field">
    <label class="field__label">{{ label }}</label>
    <input
      :id="inputId"
      class="field__input"
      :type="type"
      :name="name"
      v-model="inputModel"
    />
  </div>
</template>

<script>
import { computed } from "vue";

export default {
  props: {
    type: {
      type: String,
      default: "text",
    },
    inputId: String,
    label: String,
    name: String,
    modelValue: String,
  },
  emits: ["update:modelValue"],
  setup(props, { emit }) {
    const inputModel = computed({
      get() {
        return props.modelValue;
      },
      set(newValue) {
        emit("update:modelValue", newValue);
      },
    });
    return {
      inputModel,
    };
  },
};
</script>

<style lang="scss" scoped>
.field {
  &__label {
    margin-bottom: 20px !important;
  }
  &__input {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    border-radius: 0.2rem;
    background-color: #f3f3f3;
  }
}
</style>
