<template>
  <div>
    <TextField v-model="inputModel" v-bind="{ ...fieldConfig }" />
    <p v-if="error" class="error">{{ error }}</p>
  </div>
</template>

<script>
import TextField from "./TextField.vue";
import { computed, ref } from "vue";
export default {
  components: {
    TextField,
  },
  props: {
    form: {
      type: Object,
    },
  },
  emit: ["updateForm"],
  setup(props, { emit }) {
    const error = ref(null);
    const inputModel = computed({
      get() {
        return props.form.username;
      },
      set(newValue) {
        if (!newValue) error.value = "Name required.";
        emit("updateForm", { ...props.form, username: newValue });
      },
    });

    const fieldConfig = {
      title: "username",
      name: "username",
      label: "username",
      inputId: "username",
    };

    return { inputModel, fieldConfig, error };
  },
};
</script>

<style lang="scss" scoped>
.error {
  font-size: 12px;
  margin-top: 8px;
  color: red;
}
</style>
