<template>
  <div class="wizard">
    <div class="wizard__header" v-if="$slots['title']">
      <slot name="title" v-bind="slotProps">
        <h3 class="wizard__title">{{ title }}</h3>
      </slot>
    </div>

    <div class="wizard__main">
      <slot v-bind="slotProps" :test="configs.test"> </slot>
    </div>

    <div class="wizard__footer footer" v-if="!hideButtons">
      <span class="footer__col" @click="onPrevBtnClicked">
        <slot name="prev" v-bind="slotProps">
          <button
            id="btn-prev"
            class="wizard__button border-button"
            :class="{ 'disable-button': isFirstStep }"
            :disabled="isFirstStep"
          >
            {{ preButtonText }}
          </button>
        </slot>
      </span>

      <span class="footer__col" @click="onNextBtnClicked">
        <slot name="next" v-bind="slotProps">
          <button
            id="btn-next"
            class="wizard__button primary-button"
            :class="{ 'disable-button': isLastStep }"
            :disabled="isLastStep || !valid"
          >
            {{ nextButtonText }}
          </button>
        </slot>
      </span>
    </div>
  </div>
</template>

<script>
import { computed, reactive } from "vue";

export default {
  props: {
    title: {
      type: String,
    },
    nextButtonText: {
      default: "next",
      type: String,
    },
    preButtonText: {
      default: "previuse",
      type: String,
    },
    hideButtons: {
      default: false,
      type: Boolean,
    },
    stepCount: {
      default: 3,
      type: Number,
    },
    valid: {
      type: Boolean,
      default: true,
    },
  },

  setup(props) {
    const configs = reactive({
      activeTabIndex: 0,
    });

    const isLastStep = computed(
      () => configs.activeTabIndex === props.stepCount - 1
    );

    const isFirstStep = computed(() => configs.activeTabIndex === 0);

    const slotProps = computed(() => {
      return {
        activeTabIndex: configs.activeTabIndex,
      };
    });

    const onNextBtnClicked = () => (configs.activeTabIndex += 1);
    const onPrevBtnClicked = () => (configs.activeTabIndex -= 1);

    return {
      isLastStep,
      isFirstStep,
      slotProps,
      configs,
      onNextBtnClicked,
      onPrevBtnClicked,
    };
  },
};
</script>

<style lang="scss" scoped>
.wizard {
  margin: auto;
  background-color: var(--color-background-soft);
  padding: 2rem;
  border-radius: 2rem;
  width: 400px;

  &__header {
    text-align: center;
    margin-bottom: 30px;
  }

  &__title {
    font-weight: bold;
    font-size: 3rem;
  }

  &__footer {
    display: flex;
    gap: 12px;
    width: 100%;
  }
}

.footer {
  &__col {
    width: 100%;
  }
}
</style>
