<script setup>
import { RouterView } from "vue-router";
</script>

<template>
  <main class="wrapper">
    <RouterView />
  </main>
</template>

<style scoped>
.wrapper {
  margin: auto;
  display: flex;
  width: 100%;
}
@media (min-width: 1024px) {
}
</style>
